.home-special {
  .home-special__container {
    background-image: url('../img/mesh-background.webp');
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5rem;

    padding: 3rem 4rem;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 25px var(--primary-color-tint-7);

    .data {
      h2 {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        margin-bottom: 0.5rem;
        color: var(--text-color-lighter);
        text-shadow: 0 2px 10px var(--primary-color-shade-6);

        span {
          font-family: 'english-bold';
          color: var(--secondary-color);
        }
      }

      p {
        color: var(--text-color-light);
        text-align: justify;
        margin-bottom: 2rem;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 3rem;

        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          background: var(--primary-color-tint-2);
          box-shadow: 0 2px 50px var(--primary-color-shade-9);
          padding: 0.8rem;
          border-radius: 0.6rem;

          .icon {
            width: 24px;
            height: 24px;

            svg {
              fill: var(--text-color-lighter);
            }
          }

          span {
            font-family: 'semibold';
            color: var(--text-color-lighter);
          }
        }
      }

      .button {
        background: var(--primary-color-shade-7);
        color: var(--text-color-lighter);
        box-shadow: 0 5px 15px var(--primary-color-shade-8);
      }

      .button:hover {
        background: var(--primary-color-shade-6);
      }
    }

    figure {
      position: relative;
      width: fit-content;
      margin-inline: auto;

      img {
        width: 250px;
        margin-inline: auto;
        filter: drop-shadow(0 0 50px var(--primary-color-shade-8));
      }

      .box {
        position: absolute;
        padding: 0.8rem 1rem;
        border-radius: 0.6rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        background: var(--primary-color-tint-9);
        box-shadow: 0 2px 25px var(--primary-color-tint-3);

        .number {
          display: grid;
          justify-items: center;
          color: var(--secondary-color);

          span {
            font-size: 3rem;
            font-family: 'bold';
            line-height: 0.8;
          }

          small {
            font-family: 'bold';
            font-size: var(--tiny-font-size);
          }
        }

        p {
          font-family: 'semibold';
          text-align: center;
          color: var(--text-color-darker);
        }
      }

      .top {
        top: 0;
        right: -7rem;
        transform: translateY(-50%);
      }

      .bottom {
        bottom: 0;
        left: -7rem;
        transform: translateY(50%);
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-special {
    .home-special__container {
      gap: 3rem;
      padding: 2.5rem 3.5rem;

      .data {
        p {
          margin-bottom: 1.5rem;
        }

        ul {
          margin-bottom: 2rem;
        }
      }

      figure {
        img {
          width: 200px;
        }

        .top {
          right: -6rem;
        }

        .bottom {
          left: -7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .home-special {
    .home-special__container {
      gap: 4rem;
      padding: 2.5rem 2.5rem 6rem 2.5rem;
      grid-template-columns: 1fr;

      figure {
        img {
          width: 180px;
        }

        .box {
          padding: 0.8rem;
          gap: 0.5rem;

          .number {
            span {
              font-size: 2.5rem;
            }
          }
        }

        .top {
          left: -7rem;
          right: unset;
        }

        .bottom {
          right: -7rem;
          left: unset;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-special {
    .home-special__container {
      padding: 1.5rem 1.5rem 5rem 1.5rem;

      .data {
        p {
          margin-bottom: 1rem;
        }

        ul {
          gap: 0.5rem;
          margin-bottom: 1rem;

          li {
            .icon {
              width: 20px;
              height: 20px;

              svg {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      figure {
        img {
          width: 140px;
        }

        .box {
          padding: 0.6rem;
          gap: 0.5rem;

          .number {
            span {
              font-size: 1.8rem;
            }
          }
        }

        .top {
          left: -6rem;
          transform: translateY(-70%);
        }

        .bottom {
          right: -6rem;
          transform: translateY(70%);
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-special {
    .home-special__container {
      .data {
        ul {
          grid-template-columns: 1fr;
        }
      }

      figure {
        .top {
          left: -4.5rem;
          transform: translateY(-75%);
        }

        .bottom {
          right: -4.5rem;
          transform: translateY(75%);
        }
      }
    }
  }
}
