.home-features {
  .section-title {
    justify-content: center;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .home-features__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;

    .features__box {
      box-shadow: 0 5px 20px -2px var(--primary-color-tint-9);
      border-radius: var(--border-radius);
      padding: 2.5rem 2rem;

      .features__box-icon {
        position: relative;
        width: fit-content;
        margin-inline: auto;

        .before {
          position: absolute;
          top: -0.5rem;
          left: -0.5rem;
          background: var(--primary-color-tint-2);
          border-radius: 50%;
          width: 56px;
          height: 56px;
        }

        .icon {
          background: hsla(231, 33%, 54%, 0.2);
          box-shadow: 0 0 1px var(--primary-color);
          backdrop-filter: blur(5px);
          border-radius: 50%;
          width: 64px;
          height: 64px;

          svg {
            width: 32px;
            height: 32px;
            fill: var(--text-color-lighter);
          }
        }
      }

      h5 {
        margin-top: 1.5rem;
        text-align: center;
      }
    }

    .features__box:nth-child(odd) {
      margin-bottom: 3rem;
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-features {
    .section-title {
      margin-bottom: 2rem;
    }

    .home-features__container {
      gap: 1.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-features {
    .section-title {
      margin-bottom: 1.5rem;
    }

    .home-features__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 0rem 1.5rem;

      .features__box {
        .features__box-icon {
          .before {
            width: 48px;
            height: 48px;
          }

          .icon {
            width: 56px;
            height: 56px;

            svg {
              width: 28px;
              height: 28px;
            }
          }
        }

        h5 {
          margin-top: 1.2rem;
        }
      }

      .features__box:nth-child(odd) {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-features {
    .home-features__container {
      gap: 1rem;
      align-items: unset;

      .features__box {
        padding: 2rem 1rem;

        .features__box-icon {
          .before {
            width: 40px;
            height: 40px;
          }

          .icon {
            width: 48px;
            height: 48px;

            svg {
              width: 24px;
              height: 24px;
            }
          }
        }

        h5 {
          margin-top: 1rem;
        }
      }

      .features__box:nth-child(odd) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-features {
    .home-features__container {
      grid-template-columns: 1fr;

      .features__box {
        padding: 2rem 1rem 1.5rem;
      }
    }
  }
}
