.home-articles {
  .home-articles__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    article {
      box-shadow: 0 2px 10px -2px var(--primary-color-tint-9);
      border-radius: var(--border-radius);
      overflow: hidden;
      padding: 1rem;

      figure {
        border-radius: 0.7rem;
        position: relative;

        .logo {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1rem;

          img {
            width: 32px;
          }
        }

        .article-img {
          border-radius: 0.7rem;
        }
      }

      time {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.8rem;

        .icon {
          width: 16px;
          height: 16px;
          opacity: 0.5;

          svg {
            width: 16px;
            height: 16px;
          }
        }

        span {
          font-family: 'light';
          font-size: var(--small-font-size);
        }
      }

      .cta {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        gap: 0.5rem;

        p {
          font-family: 'semibold';
        }

        a {
          font-size: var(--small-font-size);
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@        BREAKPOINTS        @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .home-articles {
    .home-articles__container {
      gap: 1.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-articles {
    .home-articles__container {
      grid-template-columns: none;
      grid-auto-flow: column;
      grid-auto-columns: 45%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;

      padding-block: 1rem;
      padding-inline: 0.5rem;
    }

    .home-articles__container::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .home-articles {
    .home-articles__container {
      gap: 1rem;
      grid-auto-columns: 55%;

      article {
        padding: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home-articles {
    .home-articles__container {
      grid-auto-columns: 80%;
    }
  }
}
