.header {
  .nav {
    position: relative;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;

    .nav__logo {
      background: var(--background-color);
      position: absolute;
      inset: 0 0 auto 0;
      margin-inline: auto;
      width: max-content;

      img {
        width: 200px;
      }
    }

    .nav__menu {
      .nav__menu-header {
        display: none;
      }

      .nav__list {
        display: flex;
        align-items: center;
        gap: 2rem;

        .nav__item {
          .nav__link {
            color: var(--text-color-darker);
            display: inline-block;
            white-space: nowrap;
            transition: color 0.3s;
          }

          .nav__link:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    .nav__btns {
      display: flex;
      align-items: center;
      gap: 2rem;

      .icon {
        svg {
          fill: var(--primary-color);
        }
      }

      .nav-phone {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid #f0f0f0;
        border-radius: 1rem;
        padding: 0.4rem 0.8rem;

        span {
          font-family: 'bold';
          color: var(--text-color-darker);
        }
      }

      .nav-social {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid #f0f0f0;
        border-radius: 1rem;
        padding: 0.4rem 0.8rem;

        div {
          background: #f0f0f0;
          height: 20px;
          width: 1px;
        }
      }
    }

    .nav__toggle {
      display: none;
    }
  }

  .divider {
    background: linear-gradient(
      270deg,
      rgba(0, 91, 76, 0) 0%,
      rgba(0, 91, 76, 0.5) 50%,
      rgba(0, 91, 76, 0) 100%
    );
    width: 100%;
    height: 1px;
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@  BREAKPOINTS  @@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (max-width: 1440px) {
  .header {
    .nav {
      gap: 2rem;

      .nav__menu {
        .nav__list {
          gap: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .overlay {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;
      pointer-events: none;
      background: hsla(170, 100%, 18%, 0.1);
      backdrop-filter: blur(10px);
      transition: opacity 0.3s;
    }

    .nav {
      height: 5rem;
      justify-content: space-between;
      gap: 0;

      .nav__logo {
        img {
          width: 160px;
        }
      }

      .nav__menu {
        background: var(--background-color);
        box-shadow: 0 0 30px var(--primary-color-tint-7);
        position: fixed;
        right: -100%;
        top: 0;
        width: 45%;
        height: 100vh;
        z-index: 100;
        transition: right 0.3s ease-in-out;

        .nav__menu-header {
          height: 5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-inline: 1.5rem;
          border-bottom: 1px solid var(--primary-color-tint-10);

          .nav__menu-logo {
            width: 120px;
          }

          .nav__close {
            display: grid;
            cursor: pointer;
          }
        }

        .nav__list {
          flex-direction: column;
          padding-inline: 1.5rem;
          padding-block: 1.5rem;

          .nav__item {
            width: 100%;

            .nav__link {
              width: 100%;
              padding-bottom: 0.5rem;
              border-bottom: 1px solid var(--primary-color-tint-10);
              font-size: var(--h5-font-size);
              font-family: 'semibold';
            }
          }

          .nav__item:last-child .nav__link {
            border-bottom: none;
          }
        }
      }

      .nav__btns {
        gap: 1.5rem;

        .nav-phone {
          padding: 0.5rem;

          span {
            display: none;
          }
        }

        .nav-social {
          padding: 0.5rem;
        }
      }

      .nav__toggle {
        order: -1;
        display: grid;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    .nav {
      .nav__logo {
        img {
          width: 144px;
        }
      }

      .nav__menu {
        width: 75%;
      }

      .nav__btns {
        .nav-phone {
          padding: 0.3rem;
        }

        .nav-social {
          display: none;
        }
      }
    }
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@ JS CLASSES @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.header .overlay.show-overlay {
  opacity: 1;
  pointer-events: auto;
}

.header .nav .nav__menu.show-menu {
  right: 0;
}

.remove-body-scroll {
  overflow: hidden;
}
