// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@  FONTS  @@@@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@font-face {
  font-family: 'regular';
  src: url(../fonts/IRAN.ttf);
}

@font-face {
  font-family: 'semibold';
  src: url(../fonts/IRAN_SemiBold.ttf);
}

@font-face {
  font-family: 'bold';
  src: url(../fonts/IRAN_Bold.ttf);
}

@font-face {
  font-family: 'black';
  src: url(../fonts/IRAN_Black.ttf);
}

@font-face {
  font-family: 'english-bold';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: 'english-regular';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@  VARIABLES  @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
:root {
  // minor third type scale
  --h1-font-size: 3.583rem;
  --h2-font-size: 2.488rem;
  --h3-font-size: 2.074rem;
  --h4-font-size: 1.728rem;
  --h5-font-size: 1.44rem;
  --h6-font-size: 1.2rem;
  --body-font-size: 1rem;
  --small-font-size: 0.833rem;
  --tiny-font-size: 0.694rem;

  --primary-color: #005b4c;
  --primary-color-tint-2: #296a5c;
  --primary-color-tint-3: #437a6d;
  --primary-color-tint-4: #5a8a7e;
  --primary-color-tint-5: #719a8f;
  --primary-color-tint-6: #89aaa1;
  --primary-color-tint-7: #a0bbb3;
  --primary-color-tint-8: #b7cbc6;
  --primary-color-tint-9: #cfdcd8;
  --primary-color-tint-10: #e7eeec;

  --primary-color-shade-2: #004e41;
  --primary-color-shade-3: #004136;
  --primary-color-shade-4: #00352c;
  --primary-color-shade-5: #002922;
  --primary-color-shade-6: #001e18;
  --primary-color-shade-7: #00130f;
  --primary-color-shade-8: #000906;
  --primary-color-shade-9: #000302;
  --primary-color-shade-10: #000000;

  --secondary-color: #d9b56b;
  --background-color: #ffffff;
  --text-color-light: #dedede;
  --text-color-lighter: #ffffff;
  --text-color-dark: #161616;
  --text-color-darker: #030303;

  --border-radius: 1.5rem;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@@@@@     BASE    @@@@@@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'regular';
}

body {
  font-size: var(--body-font-size);
  background: var(--background-color);
  color: var(--text-color-darker);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'black';
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  font-size: var(--body-font-size);
  cursor: pointer;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@  REUSABLE CLASSES   @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.container {
  max-width: 1264px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 2rem;
}

.section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.btn {
  font-family: 'semibold';
  display: inline-block;
  text-align: center;

  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.primary-btn {
  background: var(--primary-color);
  color: var(--text-color-lighter);
}

.secondary-btn {
  background: var(--secondary-color);
  color: var(--text-color-darker);
}

.section-title {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  gap: 2rem;

  div {
    height: 1px;
    width: 100%;
  }

  div:first-child {
    background: linear-gradient(
      90deg,
      rgba(0, 91, 76, 0.5) 0.11%,
      rgba(26, 100, 86, 0) 100%,
      rgba(0, 91, 76, 0) 100%
    );
  }

  div:last-child {
    background: linear-gradient(
      90deg,
      rgba(0, 91, 76, 0) 0%,
      rgba(0, 91, 76, 0.5) 100.11%
    );
  }
}

.icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;

  svg {
    width: 24px;
    height: 24px;
    fill: var(--text-color-dark);
  }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@     SCROLL UP      @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.scrollup {
  background: var(--primary-color-tint-10);
  position: fixed;
  right: 1.5rem;
  bottom: -30%;
  z-index: 99;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 50%;
  width: 48px;
  height: 48px;

  box-shadow: 0 1px 2px var(--primary-color);

  display: none;

  svg {
    fill: var(--primary-color);
  }
}

.show-scrollup {
  bottom: 5rem;
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@     SCROLL BAR     @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-tint-10);
  border-radius: 1rem;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-tint-7);
  border-radius: 1rem;
  border: 2px solid var(--primary-color-tint-10);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-tint-6);
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// @@@@@@@@@    BREAKPOINTS     @@@@@@@@@
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@media screen and (min-width: 3840px) {
  body {
    zoom: 2;
  }
}

@media (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1072px;
    padding-inline: 1.5rem;
  }

  :root {
    // major second type scale
    --h1-font-size: 2.281rem;
    --h2-font-size: 1.802rem;
    --h3-font-size: 1.602rem;
    --h4-font-size: 1.424rem;
    --h5-font-size: 1.266rem;
    --h6-font-size: 1.125rem;
    --body-font-size: 1rem;
    --small-font-size: 0.889rem;
    --tiny-font-size: 0.79rem;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  :root {
    // minor second type scale
    // --body-font-size: 14px;
    --h1-font-size: 1.377rem;
    --h2-font-size: 1.21rem;
    --h3-font-size: 1.134rem;
    --h4-font-size: 1.063rem;
    --h5-font-size: 0.996rem;
    --h6-font-size: 0.933rem;
    --body-font-size: 0.875rem;
    --small-font-size: 0.82rem;
    --tiny-font-size: 0.768rem;

    --border-radius: 1rem;
  }

  .container {
    padding-inline: 1rem;
  }

  .section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .section-title {
    gap: 1rem;
  }
}
